.board {
  width: 490px;
  height: 490px;
  border: black solid 5px;
  margin: 0 auto;
  position: relative;
  background-color: lightgray;
}

.space {
  width: 70px;
  height: 70px;
  border: black solid 1px;
  position: absolute;
}

.player {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: black solid 3px;
  margin: 2px;
  position: absolute;
}

.player1 {
  background-color: yellow;
  margin-right: 40px;
}

.player2 {
  background-color: lightgreen;
  margin-top: 40px;
}

.earn {
  background-image: url("../img/earn.png");
  opacity: 0.5;
}

.lose {
  background-image: url("../img/lose.png");
  opacity: 0.5;
}

.start {
  background-image: url("../img/start.png");
  opacity: 0.7;
}

.powerup {
  background-image: url("../img/powerup.png");
}

.skull {
  background-image: url("../img/skull.png");
}
