.board {
  width: 490px;
  height: 490px;
  border: black solid 1px;
  margin: 0 auto;
  position: relative;
}

.space {
  width: 70px;
  height: 70px;
  border: black solid 1px;
  position: absolute;
}

.player {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: black solid 1px;
  margin: 2px;
  position: absolute;
}

.player1 {
  background-color: lightyellow;
  margin-right: 40px;
}

.player2 {
  background-color: lightgreen;
  margin-top: 40px;
}
